#main {
    transition: margin-left .5s;
}
.common-color {
    background-color:#002576; 
    color: white;
}
.Action_icon{
    font-size: 20px;
}
.disabled {
    color: gray;
}
.margintop5{
    margin-top: -5px;
}
.fontbold{
    font-weight: bold;
}
.align{
    font-size: 30px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
place-content: space-between;
}
.alignitem{
    display: flex;
    justify-content: end;
    color: red;
    font-size: 18px;
    margin: 10px;
}
.color{
    color: green !important;
}